:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #808080;
  }
.csstest:hover {
    background-color: white;
    opacity: 0.75;
    text-decoration: none;
    transition: all .7s ease-in-out;
  }
.links {
    opacity: 0;
}
.links:hover {
    opacity: 1;
}
.box {
    height: 300px;
    margin-bottom: 20px;
    margin-left: 20px;
    -webkit-box-shadow: 0px 12px 18px -6px rgba (0,0,0,0.3);
    box-shadow: 0px 12px 18px -6px rgba (0,0,0,0.3);
}
.grid {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 15%;
    padding-left: 20px;
    padding-right: 20px;
    
}
.grid > div {
    flex-basis: calc(50% - 40px)
}
.projectlink {
    margin-top: -10%;
    margin-left: 5%;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-display: bold;
    font-size: 32px;
    list-style: none;
    text-shadow: none;
}
.projectlink:hover {
    color: var(--tertiary-color);
}
.projectdescription{
    margin-top: -7%;
    margin-left: 5%;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-display: bold;
    font-size: 24px;
    text-shadow: none;
    list-style: none;
}
.githubcard {
    margin-top: -10%;
    margin-left: 15%;
    font-size: 38px;
    text-decoration: none;
    color:black;
    cursor: pointer;
    text-shadow: none;
}
.githubcard:hover {
    color: var(--tertiary-color);
}
a:hover {
    text-decoration: none;
}