:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #808080;
  }
.frontend {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    color:  rgba(251,153,2, 0.9);
    margin-left: 12%;
    margin-top: 2%;
    font-size: 32px;
}
.backend {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    color:  rgba(251,153,2, 0.9);
    margin-left: 12%;
    margin-top: 2%;
    font-size: 24px;
}
.list-skill {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    color: var(--secondary-color);
    margin-left: 14%;
    margin-top: 2%;
    font-size: 32px;
}
.icon-skill {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    color: var(--tertiary-color);
    font-size: 36px;
}
.row {
    padding-bottom: 2%;
}
@media only screen and (max-width: 2400px) {
    .resume-link {
        margin-top: -3%;
        margin-left: 9%;
        font-size: 36px;
    }
    .resume-link:hover {
        margin-top: -3%;
        margin-left: 9%;
        font-size: 36px;
    }
}
@media only screen and (max-width: 2150px) {
    .resume-link {
        margin-left: 10%;
    }
    .resume-link:hover {
        margin-left: 10%;
    }
}
@media only screen and (max-width: 2000px) {
    .resume-link {
        margin-left: 11%;
    }
    .resume-link:hover {
        margin-left: 11%;
    }
}
@media only screen and (max-width: 1825px) {
    .resume-link {
        margin-left: 12%;
        margin-top: -4%;
        font-size: 38px;
    }
    .resume-link:hover {
        margin-left: 12%;
        margin-top: -4%;
        font-size: 38px;
    }
}
@media only screen and (max-width: 1610px) {
    .resume-link {
        margin-left: 13%;
        margin-top: -4%;
    }
    .resume-link:hover {
        margin-left: 13%;
        margin-top: -4%;
    }
}
@media only screen and (max-width: 1610px) {
    .resume-link {
        margin-left: 14%;
        margin-top: -4%;
    }
    .resume-link:hover {
        margin-left: 14%;
        margin-top: -4%;
    }
}
@media only screen and (max-width: 1440px) {
    .resume-link {
        margin-left: 16%;
        margin-top: -5%;
    }
    .resume-link:hover {
        margin-left: 16%;
        margin-top: -5%;
    }
    .list-skill {
        font-size: 28px;
    }
}
@media only screen and (max-width: 1200px) {
    .resume-link {
        margin-left: 18%;
        margin-top: -6%;
    }
    .resume-link:hover {
        margin-left: 18%;
        margin-top: -6%;
    }
}
@media only screen and (max-width: 1092px) {
    .resume-link {
        margin-left: 20%;
        margin-top: -6%;
    }
    .resume-link:hover {
        margin-left: 20%;
        margin-top: -6%;
    }
    .list-skill {
        margin-left: 20%;
        font-size: 24px;
    }
}
@media only screen and (max-width: 990px) {
    .resume-link {
        margin-left: 23%;
        margin-top: -7%;
    }
    .resume-link:hover {
        margin-left: 23%;
        margin-top: -7%;
    }
    .list-skill {
        margin-left: 0%;
    }
}
@media only screen and (max-width: 840px) {
    .resume-link {
        margin-left: 25%;
        margin-top: -8%;
    }
    .resume-link:hover {
        margin-left: 25%;
        margin-top: -8%;
    }
}
@media only screen and (max-width: 790px) {
    .list-skill {
        margin-left: 15%;
        font-size: 20px;
    }
}
@media only screen and (max-width: 740px) {
    .resume-link {
        margin-left: 28%;
        margin-top: -9%;
    }
    .resume-link:hover {
        margin-left: 28%;
        margin-top: -9%;
    }
}
@media only screen and (max-width: 670px) {
    .resume-link {
        margin-left: 31%;
        margin-top: -10%;
    }
    .resume-link:hover {
        margin-left: 31%;
        margin-top: -10%;
    }
}
@media only screen and (max-width: 610px) {
    .resume-link {
        margin-left: 34%;
        margin-top: -11%;
    }
    .resume-link:hover {
        margin-left: 34%;
        margin-top: -11%;
    }
}
@media only screen and (max-width: 560px) {
    .resume-link {
        margin-left: 37%;
        margin-top: -12%;
    }
    .resume-link:hover {
        margin-left: 37%;
        margin-top: -12%;
    }
}
@media only screen and (max-width: 510px) {
    .resume-link {
        margin-left: 39%;
        margin-top: -13%;
    }
    .resume-link:hover {
        margin-left: 39%;
        margin-top: -13%;
    }
}