:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #808080;
  }
  .about {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    font-display: bold;
    font-size: 38px;
    color: var(--secondary-color);
    margin-left: 12%;
    margin-top: 2%;
    text-shadow: 0 0 5px rgba(255, 255, 0, 0.7);
}
.aboutimg {
    margin-left: 10%;
    margin-top: 2%;
}
.abouttext {
    color: var(--secondary-color);
    width: 50%;
    display: center;
    font-family: Geneva, Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 20px;
    margin-top: -25%;
    margin-left: 35%;
    height: 350px;
}
@media only screen and (max-width: 1036px) {
    .abouttext {
        margin-top: -31%;
        margin-bottom: 5%;
    }
}
@media only screen and (max-width: 776px) {
    .abouttext {
        margin-top: -32%;
        margin-bottom: 5%;
    }
}
@media only screen and (max-width: 706px) {
    .abouttext {
        margin-bottom: 10%;
    }
}
@media only screen and (max-width: 653px) {
    .abouttext {
        margin-bottom: 15%;
    }
}
@media only screen and (max-width: 618px) {
    .abouttext {
        margin-bottom: 25%;
    }
}
@media only screen and (max-width: 551px) {
    .abouttext {
        margin-bottom: 35%;
    }
}
@media only screen and (max-width: 551px) {
    .abouttext {
        margin-bottom: 55%;
    }
}