:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #808080;
  }

.footer {
    background-color: #000000;
    list-style-type: none;
    padding: 20px 30px;
    padding-left: 40%;

}
.footerlink {
    display: inline;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    float: none;
    margin: 0 30px;
    justify-content: center;
   
}
a {
    text-decoration: none;
    padding: 20px;
    background-color: transparent;
    transform-origin: center;
    list-style-type: none;
}
a:hover {
    text-decoration: none;
    padding: 20px;
    background-color: transparent;
    transform-origin: center;
    list-style-type: none;
}
.icon{
    font-size: 40px;
    text-decoration: none;
    color: rgba(2251,153,2, 0.9);
    transform-origin: center;
    list-style-type: none;
    cursor: pointer;   
}
.icon:hover{
    font-size: 40px;
    text-decoration: none;
    color: var(--tertiary-color);
    transform-origin: center;
    list-style-type: none;
    
    
    
}
body {
    background-color: var(--primary-color);
}
@media only screen and (max-width: 2310px) {
    .footer {
        padding-left: 45%;
    
    }
  }
@media only screen and (max-width: 1980px) {
    .footer {
        padding-left: 43%;

    }
}
@media only screen and (max-width: 1600px) {
    .footer {
        padding-left: 41%;

    }
}
@media only screen and (max-width: 1350px) {
    .footer {
        padding-left: 38%;

    }
}
@media only screen and (max-width: 1175px) {
    .footer {
        padding-left: 35%;

    }
}
@media only screen and (max-width: 950px) {
    .footer {
        padding-left: 32%;

    }
}
@media only screen and (max-width: 875px) {
    .footer {
        padding-left: 29%;

    }
}
@media only screen and (max-width: 735px) {
    .footer {
        padding-left: 25%;

    }
}
@media only screen and (max-width: 683px) {
    .footer {
        padding-left: 20%;

    }
}
@media only screen and (max-width: 683px) {
    .footer {
        padding-left: 19%;

    }
}

@media only screen and (max-width: 559px) {
    .footer {
        padding-left: 14%;

    }
}
@media only screen and (max-width: 532px) {
    .icon {
        font-size: 28px;

    }
    .icon:hover {
        font-size: 28px;

    }
}